---
layout: default
---

<style>
.tag_container {
  display: flex;
  justify-content: space-between; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
}

.tag_name {
  display: flex;
  align-items: center;
}

.tag_container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #c2bfbf;
  margin-right: 10px;
  margin-top: 0%;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  margin-left: 5px; /* tag 간격 조정 */
}

.tag:first-child {
  margin-left: 0;
}

.tag:last-child {
  margin-right: 0;
}


.language-switcher-container {
  display: flex;
  gap: 10px;
}

a.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 1;
  margin-right: 10px;
}

a.language-switcher:hover {
  background-color: #666;
}

a.language-switcher:active {
  background-color: #333;
}

.profiles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_h2_container h2 {
  font-size: 24px;
  margin-top: 0%;
  font-weight: bold;
  color: #c2bfbf;
}

.about-profile {
  display: flex;
  align-items: center;
}

.about-profile img {
  margin-right: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.profile-info p:first-child {
  margin-right: 10px;
}

.profile-info p:last-child {
  font-style: italic;
}

</style>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% if page.layout == "post" %} 
        {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: "lang" %}
        {% if posts.size > 1 %}
          <div class="lang-options">
            <em>Read this in a different language:</em>
            <ul>
              <div class="language-switcher-container">
              {% for post in posts %}
              
                <a
                  href="{{site.base-url}}{{post.url}}"
                  class="language-switcher"
                  title="View in {{post.lang}}"
                >
                {{post.lang}}
                </a>
              
              {% endfor %}
            </div>
            </ul>
          </div>
        {% endif %}    
      {% endif %}


{% if page.tags %}
<hr>
<div class="tag_container">
  <div class="aline_tag">
  <h2>TAG</h2>
</div>
  <div class="tag_name">
  {% for tag in page.tags %}
    <span class="tag">{{ tag }}</span>
  {% endfor %}
  </div>
  </div>
<hr>
{% endif %}

{{ content }}
<hr>
<div class="profiles">
  <div class="about_h2_container">
  <h2>About</h2>
</div>
  <div class="about-profile">
    <img class="neko_hat" src="/assets/images/neko_hat.png" />
    <div class="profile-info">
      <p>Reverser & Pwner</p>
    </div>
  </div>
  </div>
<hr>
<script src="https://giscus.app/client.js"
        data-repo="neko-hat/neko-hat.github.io"
        data-repo-id="R_kgDOJOrl5w"
        data-category="Comments"
        data-category-id="DIC_kwDOJOrl584CWfeC"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>