---
layout: default
---

<style>
.tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
}
.tag_name {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 20px;
  border: 1px solid #8d8c8c;
  background-color: #858585;
  color: #f4f0f0;
}

</style>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% if page.layout == "post" %} 
      <hr>
        {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: "lang" %}
        {% if posts.size >= 1 %}
          <div class="lang-options">
            <em>Read this in a different language:</em>
            <ul>
              {% for post in posts %}
              <li>
                <a
                  href="{{site.base-url}}{{post.url}}"
                  class="{{post.lang}}"
                  title="View in {{post.lang}}"
                >
                {{post.lang}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}    
      {% endif %}


{% if page.tags %}
<hr>
<div class="tag_name">
    <span>TAG : </span>
{% for tag in page.tags %}
  <span class="tag">{{ tag }}</span>
{% endfor %}
</div>
<hr>
{% endif %}

{{ content }}

<hr>
<script src="https://utteranc.es/client.js"
        repo="neko-hat/neko-hat.github.io"
        issue-term="url"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>