---
layout: default
---

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if page.layout == "post" %} 
          {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: "lang" %} 
          {% if posts.size > 1 %}
            <div class="lang-options">
              <em>Read this in a different language:</em>
              <ul>
                {% for post in posts %}
                <li>
                  <a
                    href="{{site.base-url}}{{post.url}}"
                    class="{{post.lang}}"
                    title="View in {{post.lang}}"
                  >
                     {{post.lang}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endif %}

    {{ content }}
